*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html, body{
  font-size: 20px;
  font-family: $font;
  color: $col-main;
  
  @include media-max($S){
    font-size: 18px;
  }
  @include media-max($XS){
    font-size: 15px;
  }
}

body{
  background-color: $col-bg-main;
  // overflow-x: hidden;
}
.main-wrap{
  max-width: 1310px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;

  
  @include media-max($XS){
    padding: 0 10px;
  }
}

h1.title{
  font-size: 48px;
  line-height: 61px;
  @include media-max($LM){
    font-size: 43px;
    line-height: 57px;
  }

  @include media-max($S){
    font-size: 30px;
    line-height: 43px;
  }
  @include media-max($XS){
    font-size: 23px;
    line-height: 33px;
  }
}
h2.title{
  font-size: 45px;

  @include media-max($LM){
    font-size: 40px;
  }
  @include media-max($S){
    font-size: 28px;
  }
  @include media-max($XS){
    font-size: 25px;
  }
  
}
h3.title{
  font-size: 30px;

  @include media-max($LM){
    font-size: 27px;
  }
  @include media-max($S){
    font-size: 20px;
  }
  @include media-max($XS){
    font-size: 18px;
  }
}
h4.title{
  font-size: 27px;

  @include media-max($LM){
    font-size: 24px;
  }
  @include media-max($S) {
    font-size: 21px;
  }
  @include media-max($XS) {
    font-size: 18px;
  }
}
h6.title{
  font-size: 18px;
  @include media-max($S) {
    font-size: 15px;
  }
  
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-b;
  font-weight: bold;
}

.text-green{
  color: $green;
}
.text-pink{
  color: $pink;
}
.text-white{
  color: #fff;
}

.spec-text{
  font-weight: bold;
  color: $green;
  // margin-left: 5px;
  // margin-right: 5px;
  // &::after{
  //   content: '\00A0';
  // }
}
.text-underline{
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: $col-main;
  transition: color 0.25s;
  &:hover{
    color: $green;
  }
}
p{
  line-height: 32px;
  font-size: 1rem;

  @include media-max($S) {
    line-height: 29px;
  }
  @include media-max($XS) {
    line-height: 24px;
  }
}



.list{

  &.list-pink{

    .list-item{
      &::before{
        background-color: $pink;
      }
    }

  }
  .list-item{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    &:last-child{
      margin-bottom: 0;
    }

    &::before{
      margin-top: 10px;
      flex-shrink: 0;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $green;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.br{
  display: block;
}

.input{
  padding-left: 26px;
  padding-right: 20px;
  height: 69px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 6px;
  width: 100%;
  color: $col-input;
  overflow: hidden;

  @include media-max($M){
    height: 60px;
    font-size: 16px;
  }
  @include media-max($XS){
    height: 50px;
    font-size: 14px;
  }

  &::placeholder {
    color: $col-input;
  }
}
.btn-submit{
  border: none;
  outline: none;
  background-color: $pink;
  font-size: 20px;
  padding-bottom: 4px;
  padding-left: 36px;
  padding-right: 36px;
  height: 69px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;

  @include media-max($M){
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-max($XS){
    height: 50px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cloud-right, .cloud-left{
  @include media-max($M){
    display: none;
  }
}