.course-section {
  margin-top: 90px;
  position: relative;
  overflow: hidden;

  @include media-max($S) {
    margin-top: 60px;
  }
  @include media-max($XS) {
    margin-top: 34px;
  }

  .title{
    text-align: center;
  }
  .course-list {
    margin-top: 50px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-max($S) {
      margin-top: 44px;
      padding-right: 0;
    }
    @include media-max($XS) {
      margin-top: 38px;
    }
   
  }

  .course-list-item {
    max-width: 650px;
    width: 100%;
    display: flex;
    margin-bottom: 44px;

    @include media-max($S) {
      margin-bottom: 34px;
    }
    @include media-max($XS) {
      margin-bottom: 25px;
    }

    &:last-child{
      margin-bottom: 0;
    }
    .text {
      margin-left: 22px;
      margin-top: 6px;
      width: 100%;

      @include media-max($S) {
        margin-left: 14px;
        margin-top: 2px;
      }
      @include media-max($XS) {
        margin-left: 8px;
        margin-top: 0;
        .br{
          display: none;
        }
      }
    }

    .icon {
      width: 41px;
      height: 41px;
      background-color: $green;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 50%;
      color: #ffffff;
      font-size: 28px;
      font-weight: bold;

      @include media-max($S) {
        width: 30px;
        height: 30px;
        font-size: 22px;
      }
      @include media-max($XS) {
        width: 21px;
        height: 21px;
        font-size: 15px;
      }
    }

   

  }


  .cloud-left{
    position: absolute;
    left: -99px;
    bottom: 74px;
    z-index: -1;
  }
  .cloud-right{
    position: absolute;
    right: -167px;
    top: 74px;
    width: 349px;
    z-index: -1;
  }
}