.footer {
  background-color: $green;
  height: 486px;
  width: 100%;
  position: relative;
  margin-top: -83px;
  z-index: -1;
  overflow: hidden;

  @include media-max($S) {
    margin-top: 56px;
    height: 380px;
  }

  @include media-max($XS) {
    margin-top: 34px;
    height: 288px;
  }

  .img-1 {
    position: absolute;
    bottom: -6px;
    left: 0;

    @include media-max($S) {
      bottom: -74px;
      left: -45px;
    }

  }

  .img-2 {
    position: absolute;
    top: 0;
    right: 0;

    @include media-max($S) {
      width: 154px;
      top: -25px;
      right: -43px;
    }
  }

  .img-white {
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 320px;

    @include media-max($XS) {
      min-width: auto;
      width: 228px;
      bottom: 70px;
    }

    .img-white-inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;

      @include media-max($XS) {
        padding-left: 38px;
      }

      h6.title {
        color: #D41B6C;
        max-width: 180px;
        margin-left: 14px;
        font-family: $font-b;
        font-weight: bold;
        font-size: 24px;
        line-height: 1;

        @include media-max($S) {
          font-size: 18px;
          color: $pink;
        }

        @include media-max($XS) {
          font-size: 14px;
          margin-left: 8px; 
          margin-bottom: 4px;
        }
      }

      .img {
        
        flex-shrink: 0;
        img {
          height: 85px;
          width: 85px;
  
          @include media-max($S) {
            width: 62px;
            height: 62px;
          }
  
          @include media-max($XS) {
            width: 46px;
            height: 46px;
          }
        }
      }
    }
  }
}