.header-wrapper {
  overflow-x: hidden;
  padding-bottom: 22px;
}

.header {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__desc {
    position: relative;
    padding-left: 20px;

    &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 10px;
      background-color: $green;

      @include media-max($S) {
        width: 3px;
      }
    }

    .title {
      line-height: 1;
      margin-bottom: 30px;
    }

    @include media-max($S) {
      .list .list-item::before {
        display: none;
      }
    }

  }

  &__picture {
    margin-left: 12px;
    background-color: $green;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 690px;
    border-radius: 20px;
    box-shadow: 12px 12px 0 0 $gray;
    margin-top: 108px;
    padding: 0 16px;

    @include media-max($LM) {
      margin-left: 0;
    }

    .road {
      margin-bottom: 38px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .text {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 17px;
        font-family: $font-b;
        margin-top: 18px;
      }
    }
  }

  &__title {
    margin-top: 92px;
    margin-bottom: 64px;
    padding-right: 66px;
    @include media-max($LM) {
      padding-right: 0;
    }
    .spec{
      color: #FFFFFF;
      position: relative;
      display: inline-block;
      text-align: center;
      width: 380px;
      @include media-max($LM) {
        width: 357px;
      }
      .bg{
        background-color: $pink;
        width: 380px;
        border-radius: 34px ;
        position: absolute;
        height: 65px;
        // left: -18px;
        left: 0;
        z-index: -1;
        top: 2px;
        @include media-max($LM) {
          height: 60px;
          width: 357px;
        }
      }
    }
  }

  .right-block {
    @include media-max($M) {
      display: none;
    }
  }

  .left-block {
    max-width: 714px;
    width: 100%;
    padding-right: 14px;

    @include media-max($M) {
      max-width: 100%;
    }
  }

}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;



  .logo {
    display: flex;
    width: 214px;

    .img img {
      flex-shrink: 0;
      height: 65px;
      min-width: 65px;
    }

    .text {
      margin-left: 10px;
      margin-top: 2px;

      .subtitle {
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 8px;
        font-family: $font-b;
      }
    }

    .title {
      line-height: 20px;
    }

  }

  .info {
    margin-top: -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .phone {
      flex-shrink: 0;
      font-size: 22px;
      font-family: $font-b;

      @include media-max($LM) {
        font-size: 18px;
      }
    }

    .email {
      flex-shrink: 0;
      font-size: 22px;
      text-decoration: underline;
      margin-right: 50px;

      @include media-max($LM) {
        font-size: 18px;
        margin-right: 40px;
        padding-left: 18px;
      }
    }
  }
}

.header-img-building {
  position: relative;
  border-radius: 340px;
  overflow: hidden;
  height: 970px;
  width: 676px;
  background-color: #B5B5B5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -136px;
  margin-top: -145px;

  @include media-max(1300) {
    margin-right: -200px;
  }

  @include media-max(1230) {
    margin-right: -244px;
  }

  @include media-max($LM) {
    margin-right: -255px;
  }


  &__img {
    box-shadow: 0 0 58px #FFFFFF;
    border-radius: 340px;
    height: 896px;
    width: 605px;
    background: url("./../image/Photo.png") -262px -10px;
  }

  .cloud-1,
  .cloud-2 {
    position: absolute;
  }

  .cloud-1 {
    bottom: 2px;
    right: 82px;
    width: 564px;
    height: 360px;
  }

  .cloud-2 {
    top: 135px;
    left: 41px;
    width: 290px;
    height: 201px;
  }
}